<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <!--<username>fancy.pixel</username>
            <password>{EhRA1nWF0xgH/PePYLok8vfB7hzIAUrtDFk5xQNLAjk=}</password>-->
            <username>tommaso.berlose</username>
            <password>{v+UGu+YjpUMHPkttOeOvcKOhcwVMElnGyysT579bS/I=}</password>
        </server>
    </servers>
</settings>